.menu-icon {
  background: url('../ICON.svg') no-repeat -13px -47px;
  width: 20px;
  height: 18px;
}
.search-icon {
  background: url('../ICON.svg') no-repeat -141px -472px;
  background-size: 192px 704px;
  width: 7px;
  height: 7px;
}
.global-icon {
  mask-image: url('../ICON.svg');
  mask-position: 0 -608px;
  mask-repeat: no-repeat;
  background-color: green;
  width: 14px;
  height: 14px;
}
