.text-white {
  color: white;
}

.text-primary {
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
}

.text-secondary {
  font-weight: 600;
  font-size: 14px;
}

.text-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.014em;
}

.text-heading-1 {
  font-weight: 700;
  font-size: 20px;
  color: var(--text-color);
  line-height: 26px;
}

.input-error {
  border: 1px solid red !important;
}
